// COLORS

$color-001: #ffffff;
$color-002: #000000;
$color-003: #3897d5;
$color-004: #ec3744;
$color-005: #7dbd52;

// FONTS

$font-001: 'OPTI', serif;
$font-002: 'Rubik', sans-serif;
$font-003: 'Indie Flower', cursive;

// FONT SIZE

$font-sm: '16px';
$font-md: '21px';
